.header {
  width: 100%;
  padding-top: 40px;
  padding-right: 83px;
  padding-left: 83px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  margin: 0 auto;
}