.intro {
  position: relative;
  min-height: 674px;
  padding-top: 94px;
  padding-bottom: 150px;
  background-image: url('../../images/intro-bg.png'),
                    linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background-repeat: no-repeat;
  background-size: 688px 625px, contain;
  background-position: calc(100% - 15px) -7px, 0 0;
}
.intro__inner {
  width: 520px;
}
.intro__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Galien', serif;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.intro__text {
  width: 415px;
  margin: 0;
  margin-bottom: 76px;
}
