.menu__button {
  position: relative;
  width: 33px;
  height: 33px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.menu__button span {
  position: absolute;
  left: 3px;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #356ead;
}
.menu__button span:first-child {
  top: 6px;
}
.menu__button span:nth-child(2) {
  top: 12px;
}
.menu__button span:last-child {
  bottom: 12px;
}