.page__body {
  min-width: 1240px;
  width: 100%;
  font-family: 'Gilroy', serif;
  font-size: 16px;
  line-height: 26px;
  color: rgba(31, 63, 104, 0.6);
  letter-spacing: 0.05em;
}
.page__container {
  width: 940px;
  margin: 0 auto;
}

.page__section-title {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: #316099;
}
