.page__body {
  min-width: 1366px;
  width: 100%;
  font-family: 'Gilroy', serif;
  font-size: 16px;
  line-height: 26px;
  color: rgba(31, 63, 104, 0.6);
  letter-spacing: 0.05em;
}
.page__container {
  width: 940px;
  margin: 0 auto;
}
.page__title {
  margin: 0;
  font-family: 'Galien', serif;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.page__section {
  padding-top: 96px;
  padding-bottom: 124px;
  border-radius: 200px 0px 0px 0px;
}

.page__section-header {
  display: flex;
  align-items: flex-start;
}
.page__section-title {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: #316099;
  letter-spacing: 0.05em;
}
.page__section-title--white {
  color: #ffffff;
}
.page__section-description {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
.page__block-title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #1f3f68;
  letter-spacing: 0.05em;
}
.page__block-title--white {
  color: #ffffff;
}
